.main {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    padding: 100px;
    background-color: #461091;
    font-family: "Lucida Console";
}

.main > div {
    border-radius: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px;
    background-color: #5706c9;
    font-weight: 500;
    text-shadow: 2px 2px 20px black;
    text-align: center;
}

h1 {
    font-size: 40px;
}
p {
    font-size: 25px;
    max-width: 900px;
}
